@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --brand: #ff4d29;
    --button-color: #1d3263;
    --white: #FFFFFF;
    --off-white: #bbbbbb;
    --dark: #092032;
    --body: #516171;
    --c-brand: #4e57d4;
    --c-brand-rgb: 78, 87, 212;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
    --background-color: linear-gradient(90deg, rgba(68,32,99,1) 38%, rgba(29,50,99,1) 76%);
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08); 
}
body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
    background:var(--background-color);
}
h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color: var(--dark);
}
.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
img {
    width: 100%;
}
a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}
a:hover {
    color: var(--brand);
}
section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.text-brand {
    color: var(--brand) !important;
}
.hero-slider .owl-prev,
.hero-slider .owl-next{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 60px !important;
    height: 60px !important;
    display: block;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: 100px;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
}
.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}
.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
    background-color: var(--brand) !important; 
}
.owl-dot.active span{
    background-color: var(--brand) !important;
}
 /* slide */
 .slide {
     min-height: 80vh;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
}
.slide1 {
    background: linear-gradient(90deg, rgba(68, 32, 99, 0.651) 38%, rgba(29, 50, 99, 0.521) 76%), url(../img/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide2 {
    background: linear-gradient(90deg, rgba(68, 32, 99, 0.651) 38%, rgba(29, 50, 99, 0.521) 76%), url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide3 {
    background: linear-gradient(90deg, rgba(68, 32, 99, 0.651) 38%, rgba(29, 50, 99, 0.521) 76%), url(../img/hero1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide .display-3 {
    text-transform: uppercase;
    color: #fff;
}
/* navbar */
.top-nav {
    background: linear-gradient(90deg, rgba(68,32,99,1) 38%, rgba(29,50,99,1) 76%);
    color: #fff;
    margin: 0;
    padding: 5px 0;
}
.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}
.top-nav span,
.top-nav i {
    vertical-align: middle;
}
.navbar {
    box-shadow: var(--shadow);
}
.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
.social-icons a:hover {
    background-color: #fff;
    color: var(--brand);
}
.navbar .navbar-nav .nav-link {
    color: var(--dark);
}
.navbar .navbar-nav .nav-link:hover {
    color: var(--brand);
}
.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}
.navbar-brand img {
    height: 40px;
}
.btn {
    padding: 8px 26px;
}
.btn-brand {
    border-color: var(--button-color);
    background-color: var(--button-color);
    color: #fff;
}
.btn-brand:hover {
    background-color: #442063;
    border-color: #442063;
    color: #fff;
}
.intro {margin-bottom: 36px;
text-align: center;}
.intro p {
    color: var(--off-white);
    max-width: 500px;
}
.intro h6{
    color: var(--off-white);
    font-weight: 400;
    text-transform: uppercase;
}
.intro h1 {
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
}
.info-box {
    align-items: center;
    display: flex;
}
.info-box img {
    width: 90px;
}
.info-box h5 {
    color: var(--white);
}
.info-box p {
    color: var(--off-white);
}
#milestone {
    background: linear-gradient(90deg, rgba(68, 32, 99, 0.651) 38%, rgba(29, 50, 99, 0.521) 76%), url(../img/testimonialsbg.jpg), #082032;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#milestone h1,
#milestone p {
    color: #fff;
}
/* Service */
.service {
    position: relative;
    overflow: hidden;
    background-color: #162e6e;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 2;
    transition: var(--transition);
}
.service:hover
{
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(255, 255, 255, 0.23);
}
.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}
.service:hover::after {
    width: 100%;
    height: 100%;
    /* background-color: #1d44b1d8; */
    background: rgba(var(--c-brand-rgb), 0.6);
    z-index: -1;
}
.service h5 {
    color: #ffffff;
}
.service p {
    color: var(--off-white);
}
.service:hover h5,
.service:hover p {
    color: white;
}
.service:hover .iconbox {
    /* background-color: rgba(255,255,255,0.2); */
    background-color: rgba(255, 255, 255, 0.342);
    color: white;
    border-radius: 50px;
}
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.4);
    color: var(--white);
    font-size: 34px;
    flex: none;
    transition: var(--transition);
}
/*Successfull Project */
#portfolio
{
    background: var(--background-color);
}
.project {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.project h6 {
    font-weight: 400;
}
.project h6::before {
    content: "";
    height: 2px;
    width: 30px;
    display: inline-block;
    background: var(--brand);
    vertical-align: middle;
    margin-right: 10px;
}
.project .overlay {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 76, 41, 0) 0%, var(--dark) 100%);
}
.project .content {
    position: absolute;
    left: 10%;
    bottom: 10%
}
.project h2,
.project h6 {
    color: #fff;
}
/* Team Section */
.team-member {
    text-align: center;
}
.team-member {
    background-color: #11245A;
 }
 .team-member.even {
    background-color: #162e6e;
 }
 .team-member .hline {
    width: 70px;
    height: 2px;
    margin: 16px auto;
    background-color: rgba(255, 255, 255, 0.445);
 }
 .team-member .team-member-img img,
 .team-member .team-member-img .social-icons {
    transition: all 0.4s ease;
 }
 .team-member .team-member-img {
    position: relative;
    overflow: hidden;
 }
 .team-member .team-member-img .social-icons {
    width: 100%;
    height: 60px;
    background-color: #E93B81;
    position: absolute;
    bottom: -60px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
 
 }
 .team-member .team-member-img .social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 24px;
    color: #fff;
    border-radius: 100px;
    margin-left: 4px;
    margin-right: 4px;
 }
 .team-member .team-member-img .social-icons a:hover {
    background-color: #fff;
    color: #E93B81;
 }
 .team-member:hover .team-member-img .social-icons {
    bottom: 0;
 }
 .team-member:hover img {
    transform: translateY(-60px);
 }
/* Review Section */
#reviews {

    background: linear-gradient(90deg, rgba(68, 32, 99, 0.651) 38%, rgba(29, 50, 99, 0.521) 76%), url(../img/testimonialsbg.jpg), #082032;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.review {
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 15px;
    max-width: 768px;
    margin: auto;
}
.review .bxs-quote-alt-left {
    font-size: 120px;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.review img {
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    margin: auto;
}
.review h5 {
    margin-top: 16px;
    margin-bottom: 4px;
    color: #fff;
}
.review h3 {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
}
.review small {
    color: var(--brand);
}
.review .stars {
    color: var(--brand);
}
/* product */
.product {
    background-color: #ffffff;
}
.product img {
    width: 100%;
    object-fit: cover;
    border: 1px solid var(--button-color);
}
.product-main
{
    padding: 0;
    background-color: #11245A;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: var(--transition);
}
.product-main:hover
{
    transform: translateY(-10px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
}
.product-card
{
    background-color: #162e6e;
    clip-path: ellipse(86% 62% at 50% 65%);
}
.product-card-header h5 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.product-card-header p {
    color: #a7a7a7;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}
.product-card-header figure {
    font-size: 18px;
    color: #a7a7a7;
    line-height: 10px;
    font-weight: 600;
}
.product-card-header strong {
    font-size: 22px;
    color: #FFFFFF;
    line-height: 10px;
}
.pd-reating i {
    color: var(--brand);
    font-size: 22px;
}
.product-card-body
{
    padding: 0 10px;
}
.card-footer
{
    padding: 10px 10px;
}
.card-footer
{
    border: none;
}
.card-footer a
{
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-weight: 700;
    color: #FFFFFF;
    transition: var(--transition);
}
.card-footer a:hover
{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: var(--brand);
}
/* Blog */
.blog-post {
    position: relative;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-image
{
    overflow: hidden;
}
.card-image img
{
    display: block;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.6s ease;
}
.blog-post:hover img
{
    transform: rotate(20deg) scale(1.5);
}
.blog-post .content {
    padding: 32px;
}
.card-image a {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--brand);
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}
.blog-post h5 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.blog-post small {
    text-transform: uppercase;
    color: var(--brand);
    text-decoration: underline;
}
/* Footer */
footer {
    padding-top: 120px;
}
.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}
footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}
footer ul {
    list-style: none;
    padding: 0;
}
footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}
.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}
.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}
.footer-logo img
{
    width: 160px;
    height: 45px;
}
.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
}
input.form-control {
    border-color: transparent;
    height: 44px;
}
.form-control {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.04);;
}
.form-control:focus {
    box-shadow: none;
    border-color: var(--brand);
}
div#loom-companion-mv3 {
    display: none !important;
}
section#shadow-host-companion {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
}